<div class="Main">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ panel_title }}
      </mat-panel-title>
      <mat-panel-description *ngIf="panel_description">
        {{ panel_description }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="Container">

      <mat-form-field *ngFor="let item of properties" class="InputText">
        <input matInput
        (focusout)="PropertyChange(item.propertyCss, $event)"
        (keydown)="PropertyKeydown(item, $event)"
        [placeholder]="item.name"
        [value]="item.value"
        spellcheck="false">

        <div *ngIf="IsProperty(item, propertyGroup.color)" matSuffix>
          <div [ngStyle]="{'background-color': item.value}" class="ColorIndicator"></div>
        </div>
      </mat-form-field>

    </div>

  </mat-expansion-panel>

</div>
