<div class="S0_Grid">

  <div class="S0_Align">
    <!--Align horizontal-->
    <button mat-icon-button>
      <img matTooltip="Align left" src="assets/Icons/Light/align_left.svg"/>
    </button>
    <button mat-icon-button>
      <img matTooltip="Center horizontal" src="assets/Icons/Light/align_centerHorizontal.svg"/>
    </button>
    <button mat-icon-button>
      <img matTooltip="Align right" src="assets/Icons/Light/align_right.svg"/>
    </button>

    <!--Align vertical-->
    <button mat-icon-button>
      <img matTooltip="Align top" src="assets/Icons/Light/align_top.svg"/>
    </button>
    <button mat-icon-button>
      <img matTooltip="Center vertical" src="assets/Icons/Light/align_centerVertical.svg"/>
    </button>
    <button mat-icon-button>
      <img matTooltip="Align bottom" src="assets/Icons/Light/align_bottom.svg"/>
    </button>
  </div>

  <div class="S0_Property-x">
    <mat-form-field class="S0_InputText">
      <input matInput placeholder="X" value="120px" spellcheck="false">
    </mat-form-field>
  </div>
  <div class="S0_Property-y">
    <mat-form-field class="S0_InputText">
      <input matInput placeholder="Y" value="8%" spellcheck="false">
    </mat-form-field>
  </div>
  <div class="S0_Property-pinned">
    <mat-form-field class="S0_InputText">
      <input matInput placeholder="Pinned" value="False" spellcheck="false">
    </mat-form-field>
  </div>
  <div class="S0_Property-w">
    <mat-form-field class="S0_InputText">
      <input matInput placeholder="Width" value="120px" spellcheck="false">
    </mat-form-field>
  </div>
  <div class="S0_Property-h">
    <mat-form-field class="S0_InputText">
      <input matInput placeholder="Heigth" value="120px" spellcheck="false">
    </mat-form-field>
  </div>
  <div class="S0_Property-constraint">
    <mat-form-field class="S0_InputText">
      <input matInput placeholder="Constraint" value="False" spellcheck="false">
    </mat-form-field>
  </div>
  <div class="S0_Property-rotate">
    <mat-form-field class="S0_InputText">
      <input matInput placeholder="Rotate" value="0°" spellcheck="false">
    </mat-form-field>
  </div>
  <div class="S0_Property-radius">
    <mat-form-field class="S0_InputSmall-0">
      <input matInput placeholder="Radius" value="4" spellcheck="false">
    </mat-form-field>
    <mat-form-field class="S0_InputSmall-1">
      <input matInput value="4" spellcheck="false" matTooltip="top-left">
    </mat-form-field>
    <mat-form-field class="S0_InputSmall-1">
      <input matInput value="4" spellcheck="false" matTooltip="top-right">
    </mat-form-field>
    <mat-form-field class="S0_InputSmall-1">
      <input matInput value="4" spellcheck="false" matTooltip="bottom-right">
    </mat-form-field>
    <mat-form-field class="S0_InputSmall-1">
      <input matInput value="4" spellcheck="false" matTooltip="bottom-left">
    </mat-form-field>
  </div>

</div>
