.mat-expansion-panel {
  box-shadow: none !important;
  background: transparent !important;
  width: 100% !important;
}

.mat-expansion-panel-header-title {
  color: var(--color-white1) !important;
}

/**/

p {
  font-family: var(--font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: var(--color-white0);
}

.Main {
  width: 300px;
}

.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.InputText {
  width: 200px;
}
