<div class="Main">

  <mat-expansion-panel *ngIf="allowTextContent" expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Text options
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="Container">

      <mat-form-field *ngFor="let item of textContentProperty" class="InputText">
        <input matInput [placeholder]="item.name" [(ngModel)]="item.value" spellcheck="false">
      </mat-form-field>

    </div>
    <!--{{ textContentProperty[0].value }}-->

  </mat-expansion-panel>

  <div *ngIf="noneOptions">
    <p>No options for this node</p>
  </div>

</div>
