.mat-expansion-panel {
  box-shadow: none !important;
  background: transparent !important;
  width: 100% !important;
}

.mat-expansion-panel-header-title {
  color: var(--color-white1) !important;
}

/**/

.Main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.InputText {
  width: 120px;
}

.ColorIndicator {
  width: 20px;
  height: 20px;
  border-radius: 3px;

  cursor: pointer;
}
