<div class="Main">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Typography
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="Main">

      <div class="Property">
        <mat-form-field class="InputText">
          <input matInput placeholder="Color" value="#000" spellcheck="false">
        </mat-form-field>
        <mat-form-field class="InputText">
          <input matInput placeholder="Align" value="left" spellcheck="false">
        </mat-form-field>
      </div>
      <div class="Property">
        <mat-form-field class="InputText">
          <input matInput placeholder="Color" value="#000" spellcheck="false">
        </mat-form-field>
        <mat-form-field class="InputText">
          <input matInput placeholder="Align" value="left" spellcheck="false">
        </mat-form-field>
      </div>

    </div>

  </mat-expansion-panel>

</div>
