<div class="Main">

  <!--
  <div class="MainBar">
    <button mat-icon-button>
      <img src="assets/Icons/Light/stylepanel_triangle.svg" matTooltip="Main menu"/>
    </button>
    <p class="Title">Backgrounds</p>
    <div class="Bar"></div>
    <button mat-icon-button>
      <img src="assets/Icons/Light/stylepanel_class.svg" matTooltip="Main menu"/>
    </button>
  </div>
  <div class="MainContainer">
  </div>
  -->

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Backgrounds
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>This is the primary content of the panel.</p>

  </mat-expansion-panel>

</div>
