.mat-expansion-panel {
  box-shadow: none !important;
  background: transparent !important;
}

.mat-expansion-panel-header-title {
  color: var(--color-white1) !important;
}

/**/

.Main {
  display: flex;
  flex-direction: column;
}

.Property {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.InputText {
  width: 110px;
}

.Color {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-top: 5px;

  cursor: pointer;
  background-color: black;
}
