<div class="Main">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Backgrounds
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="Main">

      <div class="Property">
        <div class="Color"></div>
        <mat-form-field class="InputText">
          <input matInput placeholder="Color" value="#000000" spellcheck="false">
        </mat-form-field>
        <mat-form-field class="InputText">
          <input matInput placeholder="Opacity" value="100%" spellcheck="false">
        </mat-form-field>
      </div>

    </div>

  </mat-expansion-panel>

</div>
