.mat-expansion-panel {
  box-shadow: none !important;
  background: transparent !important;
}

.mat-expansion-panel-header-title {
  color: var(--color-white1) !important;
}

p {
  margin: 0px;
}

.Main {
  display: flex;
  flex-direction: column;
  
  /*padding: 15px;*/
}

.MainBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.MainBar>.Title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  text-transform: uppercase;

  color: var(--color-white1);
}

.MainBar>.Bar {
  width: 90%;
  height: 2px;
  margin-left: 10px;

  background-color: var(--color-black0);
}