<div class="Main">
  <div class="Container">
    <app-waf-rigthsection></app-waf-rigthsection>
    <app-waf-rigthsection-a *ngIf="ShowPanel(panelSection.alignment)"></app-waf-rigthsection-a>
    <app-waf-rigthsection-b *ngIf="ShowPanel(panelSection.frame)"></app-waf-rigthsection-b>
    <app-waf-rigthsection-f *ngIf="ShowPanel(panelSection.spacinSize)"></app-waf-rigthsection-f>
    <app-waf-rigthsection-c *ngIf="ShowPanel(panelSection.typography)"></app-waf-rigthsection-c>
    <app-waf-rigthsection-d *ngIf="ShowPanel(panelSection.heading)"></app-waf-rigthsection-d>
    <app-waf-rigthsection-e *ngIf="ShowPanel(panelSection.background)"></app-waf-rigthsection-e>
  </div>
</div>
