<div class="Main">
  <div class="Container">
    <app-waf-rigthsection *ngIf="!classlessElement"></app-waf-rigthsection>

    <!-- Alignment -->
    <app-waf-rigthsection-a *ngIf="ShowPanel(panelSection.alignment)"></app-waf-rigthsection-a>
    <app-waf-rigthsection-g *ngIf="ShowPanel(panelSection.alignment, { ruleCondition: 'display: flex' })"></app-waf-rigthsection-g>
    <app-waf-rigthsection-h *ngIf="ShowPanel(panelSection.alignment, { ruleCondition: 'display: flex' })"></app-waf-rigthsection-h>
    <app-waf-rigthsection-i *ngIf="ShowPanel(panelSection.alignment, { ruleCondition: 'display: grid' })"></app-waf-rigthsection-i>
    <app-waf-rigthsection-l *ngIf="ShowPanel(panelSection.alignment, { ruleCondition: 'display: grid' })"></app-waf-rigthsection-l>

    <!-- Frame -->
    <app-waf-rigthsection-b *ngIf="ShowPanel(panelSection.frame)"></app-waf-rigthsection-b>

    <!-- Spacin size -->
    <app-waf-rigthsection-f *ngIf="ShowPanel(panelSection.spacinSize)"></app-waf-rigthsection-f>

    <!-- Typography -->
    <app-waf-rigthsection-c *ngIf="ShowPanel(panelSection.typography)"></app-waf-rigthsection-c>
    <app-waf-rigthsection-d *ngIf="ShowPanel(panelSection.heading)"></app-waf-rigthsection-d>

    <!-- Background -->
    <app-waf-rigthsection-e *ngIf="ShowPanel(panelSection.background)"></app-waf-rigthsection-e>

    <!-- Border -->
    <app-waf-rigthsection-m *ngIf="ShowPanel(panelSection.border)"></app-waf-rigthsection-m>

    <!-- Custom sss -->
    <app-waf-rigthsection-n *ngIf="ShowPanel(panelSection.customCss)"></app-waf-rigthsection-n>
  </div>
</div>
