<div class="Main">

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="node-tree">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li class="mat-tree-node">
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled>
          <img [src]="node.img"/>
        </button>
        <button mat-button [matMenuTriggerFor]="contextmenu" (contextmenu)="NodeRightClick(node); false" [color]="IsSelectedNode(node)">{{ node.displayName }}</button>
      </li>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node cdkDropList *matTreeNodeDef="let node; when: hasChild">
      <li>
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.displayName">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <button mat-icon-button disabled>
            <img [src]="node.img"/>
          </button>
          <button mat-button [matMenuTriggerFor]="contextmenu" (contextmenu)="NodeRightClick(node); false" [color]="IsSelectedNode(node)">{{ node.displayName }}</button>
        </div>
        <ul [class.node-tree-invisible]="!treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>

</div>

<!-- Contextmenu -->
<mat-menu #contextmenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="movemenu">Move</button>
  <button mat-menu-item>Delete</button>
</mat-menu>

<mat-menu #movemenu="matMenu">
  <button mat-menu-item>Insert</button>
  <button mat-menu-item>Up</button>
  <button mat-menu-item>Down</button>
</mat-menu>
