<h2 mat-dialog-title>Editor settings</h2>

<mat-dialog-content>
  <mat-selection-list #optionsList class="Options">
    <mat-list-option *ngFor="let item of options" [selected]="item.value" (toggle)="OptionsToggle(item)">
      {{ item.name }}
    </mat-list-option>
  </mat-selection-list>

  <p>
    Options selected: {{ options[0].value }}
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>
