<div class="Main">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Html Code
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="Container">
      <p>{{ htmlCode }}</p>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Css Code
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="Container">
      <p>{{ cssCode }}</p>
    </div>
  </mat-expansion-panel>

</div>
