<div class="Main">

  <div class="Container">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Html Code
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="Code">
        <p>{{ htmlCode }}</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Css Code
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="Code">
        <p>{{ cssCode }}</p>
      </div>
    </mat-expansion-panel>
  </div>

</div>
