.mat-expansion-panel {
  box-shadow: none !important;
  background: transparent !important;
  width: 100% !important;
}

.mat-expansion-panel-header-title {
  color: var(--color-white1) !important;
}

.mat-expansion-panel-header-description {
  color: var(--color-white1) !important;
  opacity: 0.5 !important;
}

.Main {
  height: 100%;

  background-color: var(--color-gray0);
  border-bottom: var(--border-barpanel);
}

/**/

p {
  margin: 0px;

  font-family: var(--font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;

  color: var(--color-white0);

  white-space: pre-line;
}

.Container {
  padding-top: 20px;
}

.Code {
  width: 200px;
  overflow: auto;
}

.Code::-webkit-scrollbar-track
{
	background-color: transparent;
}
.Code::-webkit-scrollbar
{
	width: 7px;
  height: 7px;
}
.Code::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background-color: rgba(68, 68, 68, 0.8);
}
.Code::-webkit-scrollbar-corner {
  background: transparent;
}
