<div class="Main">

  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Global style variables
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="Container">

      <mat-form-field class="InputText">
        <span matPrefix>--</span>
        <input matInput value="nomevariabile">
      </mat-form-field>
      <mat-form-field class="InputText">
        <span matPrefix>:</span>
        <input matInput value="valore">
      </mat-form-field>
      <div class="Buttonclear">
        <button mat-icon-button>
          <mat-icon>clear</mat-icon>
        </button>
      </div>

    </div>
    <div class="Buttonadd">
      <button mat-icon-button (click)="AddVariable()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </mat-expansion-panel>

</div>
