.mat-expansion-panel {
  box-shadow: none !important;
  background: transparent !important;
  width: 100% !important;
}

.mat-expansion-panel-header-title {
  color: var(--color-white1) !important;
}

.mat-expansion-panel-header-description {
  color: var(--color-white1) !important;
  opacity: 0.5 !important;
}

mat-icon {
  opacity: 0.5 !important;
  transform: scale(0.8);
}

textarea::-webkit-scrollbar-track
{
	background-color: transparent;
}
textarea::-webkit-scrollbar
{
	width: 7px;
  height: 7px;
}
textarea::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background-color: var(--color-gray1);
}
textarea::-webkit-scrollbar-corner {
  background: transparent;
}

/**/

span {
  opacity: 0.5;
}

.Main {
  padding-top: 20px;
}

.Smallicon {
  transform: scale(0.7);
}

.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Stylevariable {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.InputText {
  width: 100px;
}

.InputTextarea {
  width: 220px;
}

.Buttonclear {
  padding-top: 8px;
}

.Buttonadd {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
