.mat-expansion-panel {
  box-shadow: none !important;
  background: transparent !important;
  width: 100% !important;
}

.mat-expansion-panel-header-title {
  color: var(--color-white1) !important;
}

.mat-expansion-panel-header-description {
  color: var(--color-white1) !important;
  opacity: 0.5 !important;
}

mat-icon {
  opacity: 0.5 !important;
  transform: scale(0.8);
}

/**/

span {
  opacity: 0.5;
}

.Main {
  padding-top: 20px;
}

.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Stylevariable {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.InputText {
  width: 110px;
}

.Buttonclear {
  padding-top: 8px;
}

.Buttonadd {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
