<div class="Main">

  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Global style variables
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="Container">

      <div *ngFor="let styleVariable of styleVariables" class="Stylevariable">
        <mat-form-field class="InputText">
          <span matPrefix>--</span>
          <input matInput (focusout)="StyleVariableChange('variableName', styleVariable, $event)" [value]="styleVariable.variableName" spellcheck="false">
        </mat-form-field>
        <mat-form-field class="InputText">
          <span matPrefix>:</span>
          <input matInput (focusout)="StyleVariableChange('variableValue', styleVariable, $event)" [value]="styleVariable.variableValue" spellcheck="false">
        </mat-form-field>
        <div class="Buttonclear">
          <button mat-icon-button (click)="DeleteVariable(styleVariable)">
            <mat-icon class="Smallicon">clear</mat-icon>
          </button>
        </div>
      </div>

    </div>
    <div class="Buttonadd">
      <button mat-icon-button (click)="AddVariable()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Global custom code
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="Container">

      <mat-form-field class="InputTextarea">
        <textarea matInput placeholder="Css" [(ngModel)]="customCssCode" matTooltip="property: value;" spellcheck="false"></textarea>
      </mat-form-field>

    </div>
  </mat-expansion-panel>

</div>
