<div class="Main">
  <div class="Menu">

    <button (click)="SetPanelindex(0)" mat-button [class.Menu_selected]="IsSelected(0)" class="Menu_link">Tools</button>
    <button (click)="SetPanelindex(1)" mat-button [class.Menu_selected]="IsSelected(1)" class="Menu_link">Elements</button>
    <button (click)="SetPanelindex(2)" mat-button [class.Menu_selected]="IsSelected(2)" class="Menu_link">Conponents</button>
    <button (click)="SetPanelindex(3)" mat-button [class.Menu_selected]="IsSelected(3)" class="Menu_link">Extensions</button>

  </div>

  <button mat-icon-button [matMenuTriggerFor]="mainMenu">
    <img src="assets/Icons/Light/waflogo-white.svg" matTooltip="Main menu"/>
  </button>
</div>

<!-- Main menu -->

<mat-menu #mainMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="fileMenu">File</button>
  <button mat-menu-item [matMenuTriggerFor]="editMenu">Edit</button>
  <button mat-menu-item [matMenuTriggerFor]="viewMenu">Help</button>
  <button mat-menu-item [matMenuTriggerFor]="settingsMenu">Settings</button>
</mat-menu>

<mat-menu #fileMenu="matMenu">
  <button mat-menu-item (click)="DownloadWafFile()">Save</button>
  <button mat-menu-item>New</button>
  <button mat-menu-item [matMenuTriggerFor]="importMenu">Import</button>
  <button mat-menu-item (click)="DownloadSourceCode()">Download</button>
  <button mat-menu-item>Deploy</button>
</mat-menu>

<mat-menu #editMenu="matMenu">
  <button mat-menu-item>Undo</button>
  <button mat-menu-item>Redo</button>
</mat-menu>

<mat-menu #viewMenu="matMenu">
  <button mat-menu-item>Website</button>
  <button mat-menu-item>Documentation</button>
</mat-menu>

<mat-menu #settingsMenu="matMenu">
  <button (click)="ShowSettingsEditor()" mat-menu-item>Editor</button>
</mat-menu>

<mat-menu #importMenu="matMenu">
  <button mat-menu-item (click)="ImportWafFile()">Waf file</button>
  <button mat-menu-item>Custom code</button>
</mat-menu>
