<div class="Main">

  <mat-form-field class="ListClass">
    <mat-chip-list #chipList aria-label="Class selection">
      <mat-chip
        *ngFor="let item of classArray"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="RemoveClass(item)"
        (click)="ClickClasschip(item)">
        {{ item }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Class"
        #classInput
        [formControl]="classlistCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="AddClass($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="Selected($event)">
      <mat-option *ngFor="let item of filteredClasslist | async" [value]="item">
        {{ item }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div *ngIf="selectedClass" class="Selected">
    <mat-icon>remove</mat-icon>
    <button mat-button [matMenuTriggerFor]="classMenu">{{ selectedClass }}</button>
  </div>

</div>

<mat-menu #classMenu="matMenu">
  <button mat-menu-item>Rename</button>
  <button mat-menu-item>Delete</button>
</mat-menu>
